.git/
.gitignore
**/.venv/

**/__pycache__/
**/*.py[oc]
**/*.egg-info/
**/.ruff_cache/
**/.pytest_cache/
**/.mypy_cache/
build/
dist/
wheels/

burn-emulator-model/data/
burn-emulator-model/logs/
burn-emulator-model/slurm/

**/README.md
Makefile
